kivy[base]
kivy_deps.angle
kivy_deps.glew
kivy_deps.sdl2
plyer
opencv-python-headless
mediapipe
numpy
pyaudio
scipy
google-generativeai
python-dotenv
geocoder
firebase-admin
SpeechRecognition
tensorflow

